
@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
/* styles.css */
@media print {
 
 
  .print-only,
  .print-only * {
    visibility: visible !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    page-break-after: avoid !important;
    page-break-before: avoid !important;
  }
  .print-container {
    width: 200px !important; /* Adjust to fit barcode on one page */
    margin: 0 auto !important;
    padding: 10px !important;
  }
  
}
.print-only {
  display: none;

}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #facc15 !important; /* Tailwind yellow-400 */
  transition: background-color 5000s ease-in-out 0s;
}


@media (max-width: 768px) {
  .mobile-full-btn {
    
    display: block !important;
    margin: 0px auto !important;
    position: static !important;
  }

  .mobile-scroll-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 10px;
  }
  .width-left-page{
    width: 28rem;
    height: 50rem;
    margin-top: 0rem;
    margin-left: -0.8rem;
  }
  .width-right-page{
    width: 29rem;
    height: 40rem;
    margin-top: 49.5rem;
    margin-left: -28rem;
    border: none;
  }
  button{
    width: 20rem;
    align-items: center;
    margin-left: -1rem;
    
   
  }
  .print-icon-size{
    margin-top: 1rem ;
    display: none;
    
    
  }
  .print-button-size{
    height: 5rem;
    
    
   
  }
  .print-text-size{
    font-size: 2rem;
    margin-top:-1rem ;
  }
}

