
.grid-cols-header {
  display: grid;
  grid-template-columns: 90px 1fr 90px 90px 90px 50px;
  font-weight: 600; /* equivalent to font-semibold */
  border-bottom: 1px dotted #9ca3af; /* Tailwind's gray-400 */
  padding-bottom: 0.5rem; /* pb-2 */
  margin-bottom: 0.5rem; /* mb-2 */
  gap: 0.5rem; /* gap-2 */
}

.grid-cols-items {
  display: grid;
  grid-template-columns: 80px 200px 70px 120px 80px 30px; /* 6 columns */
  gap: 10px;
  align-items: center;
}

@media print {
  .remove-header,
  .print-hidden,
  button.print-hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .grid-cols-header {
    border-bottom: 0.2px solid !important;
    padding-bottom: 1px !important;   /* Add padding below */
    margin-bottom: 52px !important;   /* Add margin below */
    padding-top: 5px !important;      /* Optional: padding top */
    margin-top: 5px !important;       /* Optional: margin top */
  }

  .grid-cols-header {
  display: grid;
  grid-template-columns: 30px 1fr 60px 40px 60px 50px;
  font-weight: 600; /* equivalent to font-semibold */
  border-bottom: 1px dotted #9ca3af; /* Tailwind's gray-400 */
  padding-bottom: 0.5rem; /* pb-2 */
  margin-bottom: 0.5rem; /* mb-2 */
  gap: 0.5rem; /* gap-2 */
}


  .grid-cols-items {
    border-bottom: 1px dotted #9ca3af;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
 

  .remove-btn,
  .remove-header {
    display: none;
  }

  .print-area {
    scrollbar-width: none; /* Firefox */
  }

  .print-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

}

@media (max-width: 768px){

    .grid-cols-header {
  display: grid;
  grid-template-columns: 30px 1fr 35px 50px 80px 20px;
  font-weight: 600; /* equivalent to font-semibold */
  border-bottom: 1px dotted #9ca3af; /* Tailwind's gray-400 */
  padding-bottom: 0.5rem; /* pb-2 */
  margin-bottom: 0.5rem; /* mb-2 */
  gap: 0.5rem; /* gap-2 */
}
.abcd1{
  margin-left: -2.5rem;
  width: 7rem;
}
.abcd2{
  margin-left: 1.5rem;
  width: 2.5rem;
}
.abcd3{
  margin-left: 0.3rem;
  width: 4rem;
  
}
.abcd4{
  margin-left: 3rem;
}
.abcd5{
  margin-left: 0.1rem;

}
.barcode-mobile{
  margin-left: 8rem;
}
.icon-reset{
  display: none;
}
.share-frame{
  border: none;
  width: 13rem;
  height: 6rem;
  
  
}
.share-frame1{
  border: none;
  width: 13rem;
  
 
}
.share-frame2{
  margin-left: -11rem;
  width: 13rem;
   height: 9rem;
   
}
.share-frame3{
  margin-left: -11rem;
  width: 13rem;
   
   
}
.share-button{
  
  margin-left: 1.7rem;
  height: 5.2rem;
  font-size: 2rem;
  margin-top: -0.1rem;
  gap: 2rem;

}
.bt1{
  height: auto;
  width: 19rem;
}

}

